.main{
    height:30px;
    width:100%;
    background-color: blue;
    padding-top: 10px;
    display:flex;
    justify-content:space-between;
}
li,ul{
    display:inline;
    padding-right:20px;
}
.Section2{
    width:100%;
    background-color:black;
    color:white;
    text-align:center;
    font-size:24px;
}
.name{
    height:250px;
    background-color: grey;
    text-align:left;
    padding-left:20%;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 12;
}
.Achievements
{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi0QWGNB4leIxWfryH_h1fiBP6-0dKd2DcZg&usqp=CAU");
    color:white;
    height:280px;
}
.a1{
    height:150px;
    width:150px;
    border:1px solid white;
    background-color: white;
    border-radius: 20px;
    text-align:center;
    color: black;
}
.ach{
    display: flex;
    justify-content: space-around;
}
